PUBLIC_APP_ORIGINS=http://localhost:3000

MONGODB_URI_ENV=MONGODB_URI
MONGODB_URI=mongodb+srv://<username_custom_role>:<password>@cluster0.jcupv4z.mongodb.net/?appName=Cluster0
MONGODB_DATABASE=techpulse_app

MONGODB_OPERATOR_URI_ENV=MONGODB_OPERATOR_URI
MONGODB_OPERATOR_URI=mongodb+srv://<username_admin>:<password>@cluster0.jcupv4z.mongodb.net/?appName=Cluster0

QUOTA_HMAC_CURRENT_KEY_ENV=QUOTA_HMAC_CURRENT_KEY
QUOTA_HMAC_CURRENT_KEY=<key>
QUOTA_HMAC_RETIRING_KEY_ENVS=
QUOTA_HMAC_CURRENT_KEY_VERSION=1
QUOTA_HMAC_RETIRING_KEY_VERSIONS=

GOVERNANCE_SIGNING_CURRENT_KEY_ENV=GOVERNANCE_SIGNING_CURRENT_KEY
GOVERNANCE_SIGNING_CURRENT_KEY=<key>
GOVERNANCE_SIGNING_RETIRING_KEY_ENVS=
OFFLINE_CHECKPOINT_KEY_IDS=checkpoint-current
PROVIDER_ADMISSION_DOMAINS_JSON=[]
INTERNAL_MACHINE_SECRET_ENV=CRON_SECRET

LLM_PRIMARY_API_KEY_ENV=LLM_PRIMARY_API_KEY
EMBEDDING_API_KEY_ENV=EMBEDDING_API_KEY
LLM_PRIMARY_API_KEY=sk-...
EMBEDDING_API_KEY=sk-or-v1-...

SEED_ADMIN_EMAIL=<gmail>@gmail.com
SEED_ADMIN_PASSWORD=password
